<!DOCTYPE html>
<html>
  <%- include('../../partials/head'); -%>
<body>
  <div>
    <h1><%= pageTitle %></h1>
    <div class="bookDetails">
      <h2><%=book.title %></h2>
      <p><%=book.isbn %></p>
      <p><%=book.description %></p>
      <a href="/books/"><p>Back to Book Library</p></a>
    </div>
  </div>
</body>
</html>